server:
  port: 8007
spring:
  application:
    name: s-user

  rabbitmq:
    host: 121.4.40.111
    port: 5672
    username: guest
    password: guest
    virtual-host: /
#    publisher-confirms: true
#    publisher-returns: true

  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/soul?useUnicode=true&characterEncoding=UTF-8
    password: root
    username: root
  jpa:
    database: MYSQL
    show-sql: true
    generate-ddl: true
  redis:
    database: 0
    host: 127.0.0.1
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: com.qf.pojo
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8000/eureka

#hystirx  与feign进行整合
feign:
  hystrix:
    enabled: true
ribbon:
  ReadTimeout: 3000
  ConnetTimeout: 3000
hystrix:
  command:
    default:  #default全局有效，service id指定应用有效
      execution:
        timeout:
          enabled: true
        isolation:
          thread:
            timeoutInMilliseconds: 5000