server:
  port: 8007
spring:
  jpa:
    database: MYSQL
    show-sql: true
    generate-ddl: true
  application:
    name: s-user
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/soul?useUnicode=true&characterEncoding=UTF-8&useSSL=false
    password: root
    username: root
  redis:
    database: 0
    host: 127.0.0.1
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8000/eureka
  instance:
    prefer-ip-address: true
    hostName: ${spring.cloud.client.ip-address}
    instance-id: http://${spring.cloud.client.ip-address}:${server.port}

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
feign:
  hystrix:
    enabled: true
ribbon:
  ReadTimeout: 3000
  ConnetTimeout: 3000
hystrix:
  command:
    default:  #default全局有效，service id指定应用有效
      execution:
        timeout:
          enabled: true
        isolation:
          thread:
            timeoutInMilliseconds: 5000