server:
  port: 9000
spring:
  application:
    name: s-zuul
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8000/eureka
  instance:
    prefer-ip-address: true
    hostName: ${spring.cloud.client.ip-address}
    instance-id: http://${spring.cloud.client.ip-address}:${server.port}
#当使用zuul进行请求(携带cookie)
zuul:
  sensitive-headers:

